<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>
</head>
<body>
    <style>
        @page { size: A4 landscape; }
    </style>
    <div class="headers">
        <ul>
            <li>Номер накладной:</li>
            <li>Поставщик:</li>
            <li>Дата отргрузки:</li>
            <li>Дата консигнации:</li>
            <li>Доставщик:</li>
            <li>Время заказа:</li>
        </ul>

        <ul>
            <li>Tорговый представитель:</li>
            <li>Телефон торгово представитель:</li>
            <li>Контрагент:</li>
            <li>Тип оплаты:</li>
            <li>Адрес:</li>
            <li>Телефон:</li>
        </ul>
    </div>
</body>
</html>
